//
//  BASIC FLIGHT CHECKOUT SETTINGS
//

// BODY/GENERAL
$fc-body-bg: #fff;
$fc-body-font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
$fc-body-font-color: #333;
$fc-body-line-height: 1.3;
$fc-body-font-size: 0.875rem;

// HEADER
$fc-header-bg-color: transparent;
$fc-header-bottom-border: 2px solid #000;

$fc-logo-width: 20%;
$fc-logo-max-width: 280px;
$fc-logo-margin: 1.25rem 0;

// HEADINGS
$fc-heading-font-family: $fc-body-font-family;
$fc-heading-font-color: #333;
$fc-heading-text-transform: uppercase;
$fc-heading-font-weight: bold;
$fc-heading-line-height: 1.3;
$fc-heading-h1-font-size: 1.6rem;
$fc-heading-h2-font-size: 1.3rem;

// COLORS
$fc-primary-color: $fc-body-font-color; // Used as an accent color
$fc-link-color: #000;
$fc-link-hover-color: lighten($fc-link-color, 20%);
$fc-section-number-color: #fff; // Circles before each step
$fc-section-number-bg-color: $fc-primary-color;
$fc-alert-color: #c00;
$fc-discount-color: #060;

// CART
$fc-cart-item-border: 1px solid #ccc;
$fc-cart-item-name-font-size: $fc-body-font-size;
$fc-cart-item-name-font-weight: bold;
$fc-cart-item-info-font-size: 0.75rem;

// INPUTS & INTERACTIONS
$fc-input-label-font-size: 0.875rem;
$fc-input-label-font-weight: bold;
$fc-input-border: 1px solid #999;
$fc-input-focus-border-color: $fc-primary-color;
$fc-input-focus-outline: 1px solid $fc-input-focus-border-color;
$fc-input-empty-bg-color: #f8f8f8;
$fc-selected-bg-color: #e8ffbb;
$fc-method-border: 1px solid #999;
$fc-method-hover-bg-color: #eee;
$fc-link-border: 1px dotted #aaa;
$fc-link-border-hover: 1px solid $fc-link-hover-color;

// FREE SHIPPING
$fc-free-shipping-not-reached-bg-color: transparent;
$fc-free-shipping-not-reached-border: 1px solid #000;
$fc-free-shipping-reached-bg-color: transparent;
$fc-free-shipping-reached-border: 1px solid #6c6;

// BUTTONS
$fc-button-font-size: 0.75rem;
$fc-button-font-weight: bold;
$fc-button-padding: 6px 12px;
$fc-button-color: #fff;
$fc-button-bg-color: #666;
$fc-button-hover-bg-color: lighten($fc-button-bg-color, 10%);
$fc-button-letter-spacing: 0;
$fc-button-text-transform: uppercase;
$fc-button-border-radius: 0;
$fc-button-border-width: 0;
$fc-button-border-color: transparent;
$fc-button-box-shadow: none;

$fc-continue-shopping-button-color: #fff;
$fc-continue-shopping-button-bg-color: #002d72;
$fc-continue-shopping-button-hover-bg-color: #002d72;

$fc-confirm-button-font-size: 1.125rem;
$fc-confirm-button-font-weight: bold;
$fc-confirm-button-padding: 12px 18px;
$fc-confirm-button-color: #fff;
$fc-confirm-button-bg-color: #519330;
$fc-confirm-button-hover-bg-color: lighten($fc-confirm-button-bg-color, 10%);

//
//  Foundation Settings
//
$include-xl-html-block-grid-classes: true;
$include-html-global-classes: true;
$global-radius: 3px;
$global-rounded: 1000px;
$base-font-size: 100%;
$list-side-margin: 0;

// Use function grey-scale(1) to grey-scale(19) to get greyscale ramp

$primary-color: $fc-primary-color;
$secondary-color: hotpink;
$alert-color: $fc-alert-color; // Used by error page
$success-color: #48b07a;
$warning-color: #f08a24;
$info-color: #a0d3e8;
$border-color: #dfdfdf;

$body-bg: $fc-body-bg;
$js-body-font-color: $fc-body-font-color;
$js-buy-trail-color: #fd9e2f;

$js-price-discount-color: #c60f12;
$js-primary-link-color: $fc-link-color;
$js-primary-link-hover-color: $fc-link-hover-color;
$js-header-background-color: $fc-header-bg-color;
$button-bg-color: $primary-color; // This is a Foundation setting

////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//  Main areas and layout
//
$js-min-page-width: 320px;
$js-max-page-width: 960px;
$js-page-padding-left: 20px;
$js-page-padding-right: 20px;
$js-main-area-padding-left: 20px;
$js-main-area-padding-right: 20px;

//
//  Fonts & Typography
//
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: "Merriweather", Georgia, Cambria, "Times New Roman", Times, serif;
$font-family-monospace: Consolas, "Liberation Mono", Courier, monospace;
$font-family-description: "Merriweather", Georgia, Cambria, "Times New Roman", Times, serif;
$font-family-header: $font-family-sans-serif;

//  Controller for fonts
$body-font-family: $fc-body-font-family;
$paragraph-font-family: $font-family-sans-serif;
$button-font-family: $font-family-sans-serif;
$js-description-font-family: $font-family-serif;

$font-transform-header: $fc-heading-text-transform;
$font-weight-normal: normal;
$font-weight-bold: bold;
$js-body-font-size: $fc-body-font-size; // Has to be PX, used in calculations
$js-description-font-size: 1.1em;
$js-text-render-mode: auto; // optimizeLegibility has some performance issues but could be use at own risk.

// We use these to control header font styles
$header-font-family: $fc-heading-font-family;
$header-font-weight: $fc-heading-font-weight;
$header-font-style: normal;
$header-font-color: grey-scale(16);
$header-line-height: $fc-heading-line-height;
$header-top-margin: 0.2rem;
$header-bottom-margin: 0.5rem;
$header-text-rendering: optimizeLegibility;

// We use these to control header font sizes
$h1-font-size: rem-calc(28);
$h2-font-size: rem-calc(24);
$h3-font-size: rem-calc(20);
$h4-font-size: rem-calc(16);
$h5-font-size: rem-calc(14);
$h6-font-size: 1rem;

// We use these to control header size reduction on small screens
$h1-font-reduction: rem-calc(5);
$h2-font-reduction: rem-calc(5);
$h3-font-reduction: rem-calc(5);
$h4-font-reduction: rem-calc(5);
$h5-font-reduction: 0;
$h6-font-reduction: 0;

// We use these to style paragraphs
$paragraph-font-weight: $font-weight-normal;
$paragraph-font-size: $fc-body-font-size; // 14px
$paragraph-line-height: $fc-body-line-height;
$paragraph-margin-bottom: rem-calc(12);
$paragraph-aside-font-size: rem-calc(14);
$paragraph-aside-line-height: 1.35;
$paragraph-aside-font-style: italic;
$paragraph-text-rendering: optimizeLegibility;

// We use these to style anchors
$anchor-text-decoration: none;
$anchor-text-decoration-hover: none;
$anchor-font-color: $js-primary-link-color;
$anchor-font-color-hover: $js-primary-link-hover-color;

// These control how subheaders are styled.
$subheader-line-height: $fc-body-line-height;
$subheader-font-color: scale-color($header-font-color, $lightness: 35%);
$subheader-font-weight: $font-weight-normal;
$subheader-top-margin: 0.2rem;
$subheader-bottom-margin: 0.5rem;

// A general <small> styling
$small-font-size: 60%;
$small-font-color: scale-color($header-font-color, $lightness: 35%);

// We use these to style <code> tags
$code-color: $oil;
$code-font-family: $font-family-monospace;
$code-font-weight: $font-weight-normal;
$code-background-color: scale-color($secondary-color, $lightness: 70%);
$code-border-size: 1px;
$code-border-style: solid;
$code-border-color: scale-color($code-background-color, $lightness: -10%);
$code-padding: rem-calc(2) rem-calc(5) rem-calc(1);

// We use these to style the <hr> element
$hr-border-width: 1px;
$hr-border-style: solid;
$hr-border-color: $gainsboro;
$hr-margin: rem-calc(20);

// We use these to style lists
$list-font-family: $body-font-family;
$list-font-size: $js-body-font-size;
$list-line-height: $paragraph-line-height;
$list-margin-bottom: $paragraph-margin-bottom;
$list-style-position: outside;
$list-side-margin: 1.1rem;
$list-ordered-side-margin: 1.4rem;
$list-side-margin-no-bullet: 0;
$list-nested-margin: rem-calc(20);
$definition-list-header-weight: $font-weight-bold;
$definition-list-header-margin-bottom: 0.3rem;
$definition-list-margin-bottom: rem-calc(12);

// We use these to style blockquotes
$blockquote-font-color: scale-color($header-font-color, $lightness: 35%);
$blockquote-padding: rem-calc(9 20 0 19);
$blockquote-border: 1px solid $gainsboro;
$blockquote-cite-font-size: rem-calc(13);
$blockquote-cite-font-color: scale-color($header-font-color, $lightness: 23%);
$blockquote-cite-link-color: $blockquote-cite-font-color;

// Acronym styles
$acronym-underline: 1px dotted $gainsboro;

// We use these to control padding and margin
$microformat-padding: rem-calc(10 12);
$microformat-margin: rem-calc(0 0 20 0);

// We use these to control the border styles
$microformat-border-width: 1px;
$microformat-border-style: solid;
$microformat-border-color: $gainsboro;

// We use these to control full name font styles
$microformat-fullname-font-weight: $font-weight-bold;
$microformat-fullname-font-size: rem-calc(15);

// We use this to control the summary font styles
$microformat-summary-font-weight: $font-weight-bold;

// We use this to control abbr padding
$microformat-abbr-padding: rem-calc(0 1);

// We use this to control abbr font styles
$microformat-abbr-font-weight: $font-weight-bold;
$microformat-abbr-font-decoration: none;

//
//  Buttons
//
$js-button-font-size: $fc-button-font-size;
$js-button-font-weight: $fc-button-font-weight;
$js-button-padding: $fc-button-padding;
$js-button-color: $fc-button-color;
$js-button-background-color: $fc-button-bg-color;
$js-button-letter-spacing: $fc-button-letter-spacing;
$js-button-text-transform: $fc-button-text-transform;
$js-button-border-radius: $fc-button-border-radius;
$js-button-border-width: $fc-button-border-width;
$js-button-border-color: $fc-button-border-color;
$js-button-hover-darken-factor: 10%;
$js-button-checkout-icon-size: 16px;
$js-button-disabled-background-color: #888888;
$js-button-disabled-border-color: $js-button-disabled-background-color;
$js-button-disabled-opacity: 0.4;

$js-button-info-background-color: $primary-color;
$js-button-buy-background-color: $js-buy-trail-color;

$js-button-to-checkout-background-color: $js-header-background-color;
$js-button-to-checkout-background-color-hover: lighten($primary-color, 35%);

////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//  Product wrapper & images
//
$js-product-wrapper-image-wrapper-height: 100%; // <- This is the magical setting for grid-proportions

//
//  Responsive checkout
//
$js-checkout-max-width: 900px;
$js-checkout-header-number-color: $primary-color;
$js-checkout-checkout-background-color: $js-buy-trail-color;
$js-checkout-form-button-factor: 10%;
$js-checkout-selected-color: $fc-selected-bg-color;
$js-checkout-country-selector-item-active-background-color: $js-checkout-selected-color;
$js-checkout-country-selector-item-active-color: $js-body-font-color;
$js-checkout-payment-selector-item-active-background-color: $js-checkout-selected-color;
$js-checkout-payment-selector-item-active-color: $js-body-font-color;
$js-checkout-freight-selector-item-active-background-color: $js-checkout-selected-color;
$js-checkout-freight-selector-item-active-color: $js-body-font-color;
$js-checkout-freefreight-background-color: $fc-free-shipping-not-reached-bg-color;
$js-checkout-freefreight-reached-background-color: $fc-free-shipping-reached-bg-color;

//
// FastLogin lightbox
//

$js-fastlogin-text-color: #333;
$js-fastlogin-background-color: #eee;

// These sizes must be updated in _global.scss
$small-breakpoint: em-calc(640);
$medium-breakpoint: em-calc(1008);
$large-breakpoint: em-calc(1360);
$xlarge-breakpoint: em-calc(1600);

$small-range: (0, $small-breakpoint);
$medium-range: ($small-breakpoint + em-calc(1), $medium-breakpoint);
$large-range: ($medium-breakpoint + em-calc(1), $large-breakpoint);
$xlarge-range: ($large-breakpoint + em-calc(1), $xlarge-breakpoint);
$xxlarge-range: ($xlarge-breakpoint + em-calc(1), em-calc(99999999));

$screen: "only screen";

$landscape: "#{$screen} and (orientation: landscape)";
$portrait: "#{$screen} and (orientation: portrait)";

$small-up: $screen;
$small-only: "#{$screen} and (max-width: #{upper-bound($small-range)})";

$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})";
$medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})";

$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})";
$large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})";

$xlarge-up: "#{$screen} and (min-width:#{lower-bound($xlarge-range)})";
$xlarge-only: "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})";

$xxlarge-up: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)})";
$xxlarge-only: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width:#{upper-bound($xxlarge-range)})";

$retina: (
  "#{$screen} and (-webkit-min-device-pixel-ratio: 2)",
  "#{$screen} and (min--moz-device-pixel-ratio: 2)",
  "#{$screen} and (-o-min-device-pixel-ratio: 2/1)",
  "#{$screen} and (min-device-pixel-ratio: 2)",
  "#{$screen} and (min-resolution: 192dpi)",
  "#{$screen} and (min-resolution: 2dppx)"
);

$medium-down: "#{$screen} and (min-width:#{lower-bound($small-range)}) and (max-width:#{upper-bound($medium-range)})";
