//
//  Checkout Back Button
//

#ctl00_main_responsivecheckout_UpCheckoutHeader {
  h1 {
    display: none;
  }
  .checkout-top-links {
    display: flex;
    justify-content: space-between;

    a {
      font-weight: normal;
    }

    .checkout-back-button {
      background-color: $fc-continue-shopping-button-bg-color;
      color: $fc-continue-shopping-button-color;
      &:hover {
        background-color: $fc-continue-shopping-button-hover-bg-color;
      }
    }
  }
}

html.empty-cart-checkout {
  .checkout-top-links {
    display: none;
  }

  .empty-cart-message {
    font-size: 1rem;
  }

  .continue-shopping-button.form-button {
    background: $fc-continue-shopping-button-bg-color;
    color: $fc-continue-shopping-button-color;
    max-width: 400px;

    &:hover {
      background: $fc-continue-shopping-button-hover-bg-color;
    }
  }
}

.checkout-main-wrapper {
  clear: both;
}

//
//  Small only
//
@media #{$small-only} {
  html.page-responsive-mobile-checkout {
    #ctl00_main_responsivecheckout_UpCheckoutHeader {
      h1 {
        float: none;
        margin-bottom: 0px;
      }
      .checkout-top-links {
        float: none;
        padding: 5px 0 15px;
        a {
          float: none;
          display: block;
          margin: 5px 0 0;
          padding: 8px 10px;
          //clear: both;
          //margin: 7px 0 0 0;
          //padding: 0;
          //background: transparent !important;
          //color: $fc-link-color;
          //text-transform: none;
          //font-size: 0.875rem;
          //font-weight: normal;

          &:hover {
            //color: $fc-link-hover-color;
          }
        }
      }
    }
  }
}
