<j:basemasterheader />
<j:pageheader />
<j:basemasteroverlay />

<div id="outer-wrapper">
    <div id="inner-wrapper">
        <header id="header">
            <div id="header-inner">
                <j:shoplogo />
            </div>
        </header>
        <j:mainwrapperbegin />
        <div id="main-area" role="main">
            <div class="content">
                <j:mainarea />
            </div>
        </div>
        <j:mainwrapperstop />
        <footer id="footer" data-equalizer data-equalizer-mq="medium-up"></footer>
        <aside id="jetshop-branding">
            <j:jetshoplogocontrol />
        </aside>
    </div>
</div>
<div class="hidden-elements" style="display: none !important;">
    <j:rightarea />
    <j:newslettersignup />
    <div class="culture-selector-wrapper">
        <j:cultureselector type="Flags" />
    </div>
    <div class="currency-selector-wrapper">
        <j:currencyselector currencyselectordisplaymode="DropDownList" />
    </div>
    <div class="vat-selector-outer-wrapper">
        <j:vatselector />
    </div>
</div>
<j:pagefooter />
<j:basemasterfooter />