//
//  General style for buttons
//

//TODO gradient mixin, test to replace $js-button-background-color with a mixin for gradient


// Placeholders for grouped selectors
$buttons-normal-style: ();
$buttons-buy-style: ();
$buttons-info-style: ();
$buttons-to-checkout-style: ();
$buttons-rightarea-style: ();

// Lists of selectors for groups
$buttons-normal: (
        ".button",
        "a.customer-club-optin",
        "a.customer-club-optout",
        ".discount-wrapper .discount-button",
        ".form-button-checkout",
        ".change-customertype-button",
        "html.page-responsive-checkout a.cart-header-login-button",
        ".getcustomerinfo-wrapper .getcustomerinfo-button"
);

//
// This is the style for all items in list $buttons-normal
//
@each $item in $buttons-normal {
  $buttons-normal-style: append($buttons-normal-style, unquote('#{$item}'), 'comma');
}

#{$buttons-normal-style} {
  @if length($buttons-normal) > 0 {
    @include js-button-global-style();
    font-size: $js-button-font-size;
    font-weight: $js-button-font-weight;
    padding: $js-button-padding;
    color: $js-button-color;
    background: $js-button-background-color;
    letter-spacing: $js-button-letter-spacing;
    text-transform: $js-button-text-transform;
    border-radius: $js-button-border-radius;
    border-width: $js-button-border-width;
    border-color: $js-button-border-color;
    &:hover {
      text-decoration: none;
      color: $js-button-color;
      background-color: $fc-button-hover-bg-color;
      border-width: $js-button-border-width;
      border-color: darken($js-button-border-color, $js-button-hover-darken-factor);
    }
    &.button-disabled {
      background-color: $js-button-disabled-background-color;
      border-color: $js-button-disabled-border-color;
      opacity: $js-button-disabled-opacity;
      cursor: default;
    }
    &:active {
      text-decoration: none;
      color: $js-button-color;
    }
    &:focus {
      text-decoration: none;
      color: $js-button-color;
    }
  }
}


.checkout-button-wrapper a.form-button-checkout {
  font-size: $fc-confirm-button-font-size;
  font-weight: $fc-confirm-button-font-weight;
  padding: $fc-confirm-button-padding;
  color: $fc-confirm-button-color;
  background: $fc-confirm-button-bg-color;

  &:hover {
    background: $fc-confirm-button-hover-bg-color;
  }
}

// No items in cart
.empty-cart-wrapper .continue-shopping-button.form-button {
  &:focus {
    outline: none !important;
  }
}


//
//  Fancybox login
//
#bodyFastLoginBox {
  a.button {
    display: inline-block;
    min-width: 50%;
    float: right;
    margin-top: 12px;

    &.aForgotPassword,
    &.aBackToLogin {
      float: none;
      padding: 12px 0 0;
      border-color: transparent;
      background: none;
      color: $js-primary-link-color;
      text-transform: none;
      font-size: $js-body-font-size;
      font-weight: normal;
      width: auto;
      float: none;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      border-top: 1px solid #ccc;
      border-radius: 0;
      margin: 0;

      &:hover {
        color: $js-primary-link-hover-color;
      }

    }
  }
}


html.page-responsive-orderconfirmed {
  a.customer-club-optin,
  a.customer-club-optout {
    display: inline-block;
    margin-bottom: 5px;
  }
}

