//
//  Fancybox Overrides
//

.fancybox-overlay.fancybox-overlay-fixed {
  z-index: 8000 !important;
}

//.fancybox-wrap {
//  width: 90% !important;
//}

//.fancybox-inner {
//  overflow: visible !important;
//  width: 100% !important;
//}



//
// Fast login lightbox
//

#bodyFastLoginBox {
  background: $js-fastlogin-background-color;
  color: $js-fastlogin-text-color;
  min-width: 0;
  height: auto;
  font-family: $font-family-sans-serif;

  .fast-login-box-inner {
    width: 270px;

    .upFastLogin {
      height: auto;
    }

    #fastLogin_divLogIn,
    #fastLogin_divForgotPassword {
      font-size: 0;
      padding-bottom: 50px;
      position: relative;
      @include clearfix();

      > * {
        font-size: $js-body-font-size;
      }

      .fast-login-box-inner-header {
        font-size: 20px;
        font-weight: bold;
        display: block;
        margin-bottom: 10px;
        text-transform: none;
      }

      br {
        display: none;
      }

      label {
        display: block;
        color: $js-fastlogin-text-color;
        margin-top: 12px;
        font-size: $js-body-font-size * 0.9;
      }

      input {
        display: block;
        width: 100%;
      }

      .btnLoadProfile-wrapper,
      .btnForgotPassword-wrapper{
        float: none;
        @include clearfix();
      }

      .loadProfile-error {
        border: 2px solid $warning-color;
        background: $js-fastlogin-background-color;
        color: $js-fastlogin-text-color;
        font-size: $js-body-font-size * 0.9;
        line-height: 1.3;
        margin-top: 10px;
      }
    }



  }

}


//
//  Fancy-boxed "Terms & Conditions" in Checkout
//
.fancybox-inner #terms-and-conditions {
  max-width: 800px !important;
  width: 800px !important;
}

.device-width-small .fancybox-inner #terms-and-conditions,
.device-width-medium .fancybox-inner #terms-and-conditions {
  max-width: 100% !important;
  width: 100% !important;
}



//
//  Small
//
@media #{$small-only} {
  #bodyFastLoginBox {

    .fast-login-box-inner {
      width: 210px;
    }

    #fastLogin_divModalUpdateContainer {
      width: 200px;
      margin-left: -100px;

      .divModalUpdateContainerBody {
        font-size: 16px;
      }
    }
  }
}
