
/* GENERAL
----------------------------------------------------------------------------- */

html {
  &.stop-scroll {
    body {
      overflow: hidden;
    }
  }


  #document-wrapper,
  #wrapper-page-content,
  .checkout-main-wrapper {
    padding: 0 !important;
    margin: 0 !important;
    max-width: none !important;


    #main-area {
      max-width: none;
      padding: 0 2rem;

      .content {
        width: 100%;
        max-width: none;
      }
    }
  }


}

body {
  margin: 0;
  padding: 0;
  background: $body-bg;
  font-family: $fc-body-font-family;
  font-size: $js-body-font-size;
  color: $js-body-font-color;
  min-width: $js-min-page-width;
  -webkit-font-smoothing: antialiased;
  text-rendering: $js-text-render-mode;
  line-height: $fc-body-line-height;

  @include clearfix();

  > form {
    position: relative;
  }
}





h1 {
  font-size: $fc-heading-h1-font-size;
  color: $fc-heading-font-color;
  text-transform: $font-transform-header;
}

h2 {
  font-size: $fc-heading-h2-font-size;
  color: $fc-heading-font-color;
  text-transform: $font-transform-header;
}

h3 {
  color: $fc-heading-font-color;
  text-transform: $font-transform-header;
}

h4, h5, h6 {
  color: $fc-heading-font-color;
  text-transform: $font-transform-header;
}

p {
  margin: 0 0 10px 0;
}

select {
  width: auto;
}

table, tbody, tfoot, thead, tr, th, td {
  border-collapse: collapse;
}

.watermark {
  color: lighten($js-body-font-color,20%);
}






#outer-wrapper {
  width: 100%;
}

#inner-wrapper {
  width: 100%;
}

#content-wrapper {
  clear: both;
  //float: left;
  position: relative;
  width: 100%;
  max-width: $js-max-page-width;
  margin: 0 auto;
  @include clearfix();
}

.product-attributes-params {
  display: none;
}

.display-block {
  display: block;
}

//
//  Billy
//
a.billy-terms-fancy-popup, a.billy-terms-fancy-popup:visited {
  font-size: 8pt;
  font-weight: normal;
  color: $alert-color;
  cursor: pointer;
  display: inline;
  text-decoration: underline;
}

span.billycart, span.billycart:visited {
  font-size: 8pt;
  font-weight: normal;
  color: $alert-color;
  cursor: pointer;
  display: inline;
  text-decoration: underline;
}


//
//  Stock Notification
//

#stock-notification-popup {
  background-color: #FFF;
  margin: 20px;
}

#stock-notification-popup-form-part {
  margin: 20px 0;
  clear: both;
}

.stock-notification-col-send {
  margin-top: 10px;
}

#stock-notification-message {
  text-align: center;
  margin-top: 70px;
  font-weight: bold;
}


#info-text-left-wrapper {
  display: inline-block;
  float: right;
  margin: 14px 10px 10px 10px;
}

//
//
//
.page-list-wrapper {
  .fancybox-iframe-login {
    background: transparent;
    font-size: $base-font-size;
    padding: 0;
    margin: 0;
  }
  .mypages-text,
  .login-text {
    display: block;
    text-align: left;
  }
}


//
//  Info Message
//
.InfoMsgWrapper {
  margin: 5px 10px 5px 10px;
  position: relative;
}

.InfoMsgHeader {
  background: url(../images/InfoMsgHeader.gif) top center no-repeat;
  height: 7px;
  position: relative;
  top: 1px;
  font-size: 1px;

}

.InfoMsgHeaderRight {
  background-position: 90% 0%;
}

.InfoMsgHeaderLeft {
  background-position: 10% 0%;
}

.InfoMsgShadow {
  padding: 0px 2px 2px 0px;
  background: url(../images/ErrorMsgShadowBg.png) 3px 3px no-repeat;
}

.InfoMsgBodyWrapper {
  background: #ffffff url(../images/InfoMsgIcon.gif) 7px 8px no-repeat;
  border: 1px solid #003399;
}

.InfoMsgBodyHeader {
  text-align: right;
  height: 8px;
  overflow: hidden;
  font-size: 1px;
}

.InfoMsgBodyHeader img {
  cursor: pointer;
}

.InfoMsgContent {
  font-family: $body-font-family;
  font-size: 11px;
  color: #003399;
  padding: 0px 15px 10px 36px;
}

.fancybox-skin {
  background: #fff !important;
}




//
//  Small only
//
@media #{$small-only} {
  html {
    #document-wrapper {

      #main-area {
        padding: 0 1rem;
      }
    }
  }
}