//
//  Header
//

.logo-wrapper {
  clear: both;
  width: 100%;
  margin: 0;
  background-color: $js-header-background-color;
  @include clearfix();

  .logo-header,
  .logo-footer {
    display: none;
  }

  .logo-body {
    line-height: 0;
    text-align: center;
    max-width: $js-max-page-width;
    margin: 0 auto;
    @include clearfix();
    position: relative;
  }

  input {
    outline: none;
    border-radius: 0 !important;
    width: $fc-logo-width;
    max-width: $fc-logo-max-width;
    margin: $fc-logo-margin;
  }
}

//
//  Small only
//
@media #{$small-only} {
  .logo-wrapper input {
    max-width: 100%;
    width: 30%;
  }
}
