html.page-responsive-mobile-checkout,
html.page-responsive-checkout {


  // DISABLE OUTLINES ON FOCUS
  a, div, label, input, p {
    outline: none !important;
  }

  // Checkout
  h1 {
    max-width: $js-checkout-max-width;
    margin-left: auto;
    margin-right: auto;

    i.fa {
      width: auto;
      margin-right: 3px;
    }
  }

  p {
    line-height: 1.3;
  }

  a.cart-header-login-button {
    display: none !important;
  }

  .hidden-elements {
    display: none !important;
  }

  .cart-details-wrapper {
    padding-top: 10px;

    .cart-details-header-wrapper {
      border-bottom: $fc-cart-item-border;
    }

  }

  // Numbered bullets
  h2.component-header {
    font-size: $fc-heading-h2-font-size;
    span.component-header-number {
      background-color: $fc-section-number-bg-color;
      color: $fc-section-number-color;
    }
  }

  // CART ITEMS
  .cart-details-item {
    border-bottom: $fc-cart-item-border;
    position: relative;
    @include clearfix();
    padding: 10px 0 10px;
    margin: 0 0 0px;

    .cart-details-image a {
      @include autosize-image-container($js-product-wrapper-image-wrapper-height);
    }

    .cart-details-info {

      p, span {
        font-size: $fc-cart-item-info-font-size;
      }

      p.cart-details-info-link {
        line-height: 1.3;
        margin-bottom: 5px;
        font-size: $fc-cart-item-name-font-size;
        font-weight: $fc-cart-item-name-font-weight;

        a {
          padding-bottom: 1px;
          border-bottom: $fc-link-border;

          &:hover {
            border-bottom: $fc-link-border-hover;
          }
        }

      }

      .cart-details-info-package {
        display: none;
      }
    }

    .cart-details-quantity {

      a {
        padding: 4px 0 0;
        line-height: 1;
        font-size: 20px;
        color: $fc-link-color;

        &.cart-details-amount-disabled {
          cursor: default;
        }

        i {
          width: auto;
        }

        &:hover {
          color: $fc-link-hover-color;
        }
      }

      .quantity-wrapper {
        input {
          max-width: 45px;
          width: 40%;
        }
      }

    }

    .cart-details-total-sum {

      float: right;

      .cart-details-total-sum-amount {

      }

      .cart-details-item-remove {
        padding: 0;
        margin: 0;
        width: auto;

        i {
          color: #ccc;
          padding: 0;
          line-height: 1;
          font-size: 18px;

          &::before {
            content: "\f057";
          }
        }

        &:hover {
          border-color: $fc-alert-color;

          i {
            color: $fc-alert-color;
          }
        }
      }

      .cart-details-discount-wrapper {
        clear: both;
        position: relative;
        padding: 6px 2px 0 0;


        .cart-details-discount-item {
          white-space: nowrap;
          text-align: right;
          margin-top: 0px;
          display: flex;
          justify-content: right;

          span {
            font-size: 0.75rem;
            color: $fc-discount-color;

          }

        }

      }
    }
  }

  // INPUTS ETC
  .form-label {
    font-size: $fc-input-label-font-size;
    font-weight: $fc-input-label-font-weight;
    padding-top: 10px;
  }

  .form-text,
  .getcustomerinfo-wrapper .getcustomerinfo-input.form-text {
    border: $fc-input-border;
    display: block;

    &:hover {
      border-color: lighten($fc-input-focus-border-color, 10%);
    }

    &:placeholder-shown {
      background: $fc-input-empty-bg-color;
    }
    &.display-inline-block {
      display: block !important;
    }

    &:focus {
      border-color: $fc-input-focus-border-color;
      background: #fff;
    }

    &.aspNetDisabled {
      border-color: darken($fc-input-empty-bg-color, 10%);
      background: darken($fc-input-empty-bg-color, 5%);
    }
  }

  .select2-container--default .select2-selection--single {
    border: $fc-input-border;
  }

  // GET CUSTOMER INFO FROM PNR
  .getcustomerinfo-inner-wrapper {
    border: $fc-method-border;
    background: darken($fc-input-empty-bg-color, 5%);
    padding: 10px;

    .getcustomerinfo-header {
      padding: 0 0 5px;
    }

    td {
      vertical-align: top;
    }

    .getcustomerinfo-table .getcustomerinfo-button {
      margin: 0 0 0 5px;
      height: 32px;
      padding-top: 0;
      padding-bottom: 0;
      line-height: 32px;
    }
  }

  .customer-info-country-selector-wrapper .country-selector-item-link {
    border: $fc-input-border;

    &:hover {
      border-color: lighten($fc-input-focus-border-color, 10%);
    }


    &:focus {
      border-color: $fc-input-focus-border-color;
    }

    &.country-selector-item-link-selected {
      border: $fc-input-border;
    }

  }

  .customer-info-wrapper-alternative {
    @include clearfix();
    padding-bottom: 15px;

    .form-group-country a {
      cursor: default;
      color: $fc-body-font-color !important;
    }
  }

  // BETTER CART SUMMARY
  .cart-summary-wrapper .cart-summary-row-right,
  .discount-list-item .cart-summary-row-right,
  .cart-summary-wrapper .cart-summary-row-right.cart-summary-row-bold,
  .discount-list-item .cart-summary-row-right.cart-summary-row-bold {
    text-align: right;
    padding-right: 2px;
  }

  .discount-validate-error {
    margin: 5px 0 0;
    span {
      background-color: lighten($fc-alert-color, 56%);
      border: 1px solid $fc-alert-color;
      font-weight: normal;
    }
  }
  // Country selector - Active item
  .country-selector-item-link.country-selector-item-link-selected {
    background-color: $js-checkout-country-selector-item-active-background-color;
    color: $js-checkout-country-selector-item-active-color;
  }

  // Payment selector - Active item
  .payment-selector-wrapper {

    .payment-selector-inner-wrapper {
      border-bottom: $fc-method-border;

      .payment-selector-item {
        border-top: $fc-method-border;

        &.payment-selector-item-selected .payment-selector-item-options {
          border: $fc-method-border;
          border-bottom: none;
          //border-top-style: dashed;
        }
      }

    }

    .payment-selector-item-link {
      color: $fc-body-font-color;
      border-left: $fc-method-border;
      border-right: $fc-method-border;

      &:hover {
        background-color: $fc-method-hover-bg-color;
      }

    }

    .payment-selector-item.payment-selector-item-selected, .payment-selector-item-link.payment-selector-item-link-selected {
      background-color: $js-checkout-payment-selector-item-active-background-color;
      color: $js-checkout-payment-selector-item-active-color;
      .payment-selector-item-options {
        background-color: lighten($js-checkout-payment-selector-item-active-background-color, 5%);
        //border-top: 1px solid darken($js-checkout-payment-selector-item-active-background-color, 10%);
      }
    }
  }

  // Freight selector - Active item
  .freight-selector-wrapper {

    .freight-selector-inner-wrapper {
      border-bottom: $fc-method-border;
    }

    .freight-selector-item {
      color: $fc-body-font-color;
      border: $fc-method-border;
      border-bottom: 0;

      .freight-selector-item-link {
        color: $fc-body-font-color;

        &:hover {
          background-color: $fc-method-hover-bg-color;
        }

      }

      .freight-selector-item-link.aspNetDisabled {
        background-color: $js-checkout-freight-selector-item-active-background-color;
        color: $js-checkout-freight-selector-item-active-color;
      }
    }
  }

  //
  //  DISCOUNT/VOUCHER BOX
  //
  .discount-wrapper {
    padding: 10px 0 10px;

    .discount-header {
      text-decoration: none;
      color: $fc-link-color;
      border-bottom: 1px dotted $fc-link-color;
      &:hover {
        border-bottom: $fc-link-border-hover;
        color: $fc-link-hover-color;
      }
    }

    #discount-form {
      padding-bottom: 10px;
    }

    .discount-button {
      height: 34px;
      line-height: 34px;
      padding-top: 0;
      padding-bottom: 0;
      vertical-align: top;
      display: inline-block;
    }

    .discount-input {
      height: 34px;
      display: inline-block;
    }

    .cart-summary-discount-label {
      display: block;
      font-weight: bold;
      padding: 0 0 0;
    }

    .discount-list {
      padding-top: 5px;

      .discount-list-item {


        &.cart-summary-row-bold {
          //border-top: $fc-cart-item-border;
          padding-top: 8px;
          font-weight: bold;
        }


      }


      .discount-list-item-extended {
        //font-size: 0.8125rem;
        margin: 3px 0;
      }



    }
    .cart-summary-row-left {
      width: calc(100% - 120px);
    }
    .cart-summary-row-right {
      //color: $fc-discount-color;
      width: 120px;
    }



  }

  div.gift-voucher-input-wrapper {
    margin-bottom: $js-page-padding-right;

    div.gift-voucher-form {
      @include clearfix();

      div.gift-voucher-form-number,
      div.gift-voucher-form-pincode {
        width: 50%;
        float: left;
      }

      div.gift-voucher-form-number {
        padding-right: $js-page-padding-right;

        @media #{$medium-down} {
          padding-right: $js-page-padding-left/2;
        }
      }

      div.gift-voucher-form-pincode {
        padding-left: $js-page-padding-left;

        @media #{$medium-down} {
          padding-left: $js-page-padding-left/2;
        }
      }

      div.gift-voucher-form-button {
        margin-top: $js-page-padding-left / 2;
        float: left;

        input[type="submit"] {
          margin: 0;
        }
      }
    }

    p.gift-voucher-input-active-header {
      margin-top: $js-page-padding-left/2;
    }
  }

  // PAYMENT METHODS {
  .payment-selector-item-text {
    font-weight: bold;
  }

  // SHIPPING
  .freight-selector-wrapper {

    .freight-selector-name {
      font-weight: bold;
    }

    .freight-selector-description {
      font-weight: normal;
    }
  }

  // CHECK BOXES {
  div[id*="divCustomerWantsNewsletter"],
  .membership-registration-wrapper > .form-row:first-child,
  .order-confirm-terms,
  div[id*="divSMSNotification"] {
    @include clearfix();
    display: block;
    position: relative;
    padding: 10px 0 10px 30px;
    line-height: 1.4;

    input {
    }

    label {
      display: inline;
      padding: 0;

      &::before {
        width: 27px;
        padding-right: 5px;
        position: absolute;
        left: 3px;
        top: 50%;
        margin-top: -0.5em;
        line-height: 1;
        display: block;

      }
    }

    .sms-notification-warning-text {
      font-style: italic;
      font-size: 0.9em;
    }
  }

  .order-confirm-wrapper {
    margin-bottom: 0;
  }

  // ERROR MESSAGES
  .error-summary-inner-wrapper {
    border: 2px solid $fc-alert-color;
    background: #fff;

    *, *::before {
      color: $fc-alert-color !important;
    }

    h2 {
      color: $fc-alert-color;
    }
  }

  //
  //  Free Freight Message
  //
  .responsive-free-freight.responsive-free-freight-placement-cartsummary,
  .responsive-free-freight.responsive-free-freight-placement-orderconfirmation {
    margin-bottom: 3px;
    text-align: center;
    padding: 5px 10px;
    font-size: 0.875rem;

    color: $js-body-font-color;
    background-color: $fc-free-shipping-not-reached-bg-color;
    border: $fc-free-shipping-not-reached-border;

    &.responsive-free-freight-limit-reached {
      color: $js-body-font-color;
      background-color: $fc-free-shipping-reached-bg-color;
      border: $fc-free-shipping-reached-border;
    }
  }

  //
  //  Large up
  //
  @media #{$large-up} {

    // NEW BETTER CART ITEM DIMENSIONS FOR LARGE UP
    .cart-details-wrapper {

      // ARTICLE
      .cart-details-header-article {
        width: 52%;
      }

      .cart-details-info {
        width: 42%;
      }

      // PRICE
      .cart-details-header-price,
      .cart-details-price {
        width: 16%;
        text-align: center;
      }

      // QUANTITY
      .cart-details-header-quantity,
      .cart-details-quantity {
        width: 16%;
        text-align: center;
        padding: 0 10px;
      }

      .cart-details-quantity,
      .RadInput_Error_Default {
        margin-top: 2px;

        a {
          padding-top: 3px;
        }
      }

      .cart-details-header-total-sum,
      .cart-details-total-sum {
        width: 16%;
        text-align: right;

        .cart-details-item-remove {
          margin-top: 10px;
        }
      }

      .cart-details-header-total-sum {
        padding-right: 20px;

      }

    }

    .discount-wrapper {
      padding-right: 80px;

    }

  }

  //
  //  Medium up
  //
  @media #{$medium-up} {
    // Checkout
    h1 {
      // Log In & Change Customer Type
      .change-customertype-button,
      a.cart-header-login-button {
        margin-left: 5px;
      }
      .change-customertype-button {

      }
    }


    // CART ITEMS
    .cart-details-item {

      .cart-details-image a {
      }

      .cart-details-info {

        p, span {
        }

        p.cart-details-info-link {

          a {

            &:hover {
            }
          }

        }

      }

      .cart-details-quantity {
        position: relative;
        top: -3px;

        a {

          &.cart-details-amount-disabled {
          }

          i {
          }

          &:hover {
          }
        }

        .quantity-wrapper {
          input {
          }
        }

      }

      .cart-details-total-sum {
        padding-right: 25px;

        .cart-details-total-sum-amount {

        }

        .cart-details-item-remove {
          position: absolute;
          top: 50%;
          right: 1px;
          z-index: 1;
          margin-top: -11px;


          i {
          }

          &:hover {

            i {
            }
          }
        }

        //.cart-details-discount-wrapper {
        //  direction: rtl;
        //  clear: both;
        //  position: relative;
        //  padding: 2px;
        //
        //
        //  .cart-details-discount-item {
        //    white-space: nowrap;
        //    text-align: right;
        //    margin-top: 0px;
        //
        //    span {
        //      font-size: 0.75rem;
        //      color: $fc-discount-color;
        //
        //    }
        //
        //  }
        //
        //}
      }
    }

    .discount-wrapper {
      //padding-left: 25px;
    }


    // MAKE SUMMARIES LEGIBLE
    .cart-summary-wrapper.upFastCartSummary {
      float: right;
      max-width: 450px;
      clear: right;
      padding-top: 10px;
      padding-right: 25px;
      margin-top: 5px;

      .cart-summary-row-left {
        width: 60%;
      }

      .cart-summary-row-right {
        width: 40%;
      }
    }

    .order-confirm-cart-summary-wrapper {
      border: $fc-method-border;
      background: #f6f6f6;
      padding: 20px 0 15px;

      .cart-summary-wrapper.upFastCartSummary {
        float: none;
        margin: 0 auto;
        clear: both;
      }
    }

  }




  //
  //  Medium only
  //
  @media #{$medium-only} {

    // NEW BETTER DIMENSIONS FOR MEDIUM
    .cart-details-wrapper {

      // ARTICLE
      .cart-details-header-article {
        //width: 52%;
      }

      .cart-details-info {
        //width: 42%;
      }

      // PRICE
      .cart-details-header-price,
      .cart-details-price {
        //width: 16%;
        text-align: center;
      }

      // QUANTITY
      .cart-details-header-quantity,
      .cart-details-quantity {
        width: 19%;
        text-align: center;
        padding: 0 10px;
      }

      .cart-details-header-total-sum,
      .cart-details-total-sum {
        //width: 16%;
        text-align: right;

        .cart-details-item-remove {
        }
      }

      .cart-details-header-total-sum {
        padding-right: 20px;

      }

    }

    .left-area-wrapper {
      float: right;
      max-width: 450px;

      .discount-wrapper {
        padding-left: 0;
        padding-right: 25px;
      }

      #discount-form {
        padding-bottom: 10px;
      }

    }

    // PAYMENT OPTIONS
    .payment-selector-wrapper {

      .payment-selector-item-table {

        td {
          vertical-align: middle;
        }
      }

      .payment-selector-item-icon {
        width: 90px;
        height: 30px;
        background-size: contain;
        margin: 0;
        vertical-align: middle;
      }

      .payment-selector-item-text {
        margin-top: 0px;
        padding-left: 10px;
        margin-right: 22px;
        display: inline-block;
      }

    }

    // SHIPPING
    .freight-selector-wrapper {

      .freight-selector-icon {
        display: none;
      }
    }

  }

  //
  //  Small only
  //
  @media #{$small-only} {

    #main-area {
      padding: 0 1rem;
    }

    // Checkout
    h1 {

      margin-bottom: 15px;

      // Log In & Change Customer Type
      .change-customertype-button,
      a.cart-header-login-button {
        display: block;
        float: none;
        text-align: left;
        max-width: 220px;
        background: transparent !important;
        padding: 2px 0;
        color: $fc-link-color;
        margin: 0;

      }
      .change-customertype-button {
        margin-top: 8px;
      }
      a.cart-header-login-button {
      }
    }

    h2.component-header {
      font-size: 20px;
    }

    // Reflow for small cart so that nothing is cut or breaks the layout
    .cart-details-item {
      padding: 15px 0;

      .cart-details-image {
        float: left;
        position: relative;
      }

      .cart-details-info {
        margin-top: 0;

        .cart-details-info-link {
          padding-right: 40px;
        }
      }

      .cart-details-info,
      .cart-details-price,
      .cart-details-quantity {
        margin-left: 0;
        float: right;
      }

      .cart-details-quantity {
        clear: none;
        //position: absolute;
        width: 80%;
        height: 0;
        overflow: visible;
        float: right;
        padding-left: 7px;

        a {
          //padding-top: 0;
        }

      }

      .cart-details-total-sum {
        float: right;
        width: 40%;
        margin-top: 5px;
        padding-bottom: 0px;


        .cart-details-item-remove {
          position: absolute;
          top: 15px;
          right: 2px;

          i {
            font-size: 24px;
          }
        }

        .cart-details-discount-item {
          padding-right: 2px;
        }
      }
    }

    .discount-wrapper {
      margin-top: 0;
      padding-top: 15px;

      .discount-form .discount-input {
        width: calc(100% - 50px);
        max-width: 300px;
        font-size: 14px;
      }
    }
    .cart-summary-wrapper {
      margin-bottom: 0px;
    }

    // PAYMENT METHODS

    .payment-selector-item-table {

      td {
        vertical-align: middle;
        height: 30px;
      }

      .payment-selector-item-icon-td {
        display: none;

      }

      .payment-selector-item-text {
        padding: 0;
        margin: 0;
      }

      .payment-selector-item-cost-td {
        text-align: center;
      }
    }

    //
    // ORDER CONFIRMATION PAGE
    //


  }

}

// OLD STUFF FROM BASEEXTRA 2015 - NOT SURE IF NEEDED ANYMORE --------------

// STUPID FANCYBOX POPUP
.fb-info {
  background: #fff;
  color: #333;
  font-family: $fc-body-font-family;
  width: auto;

  .fb-wrapper {
    max-width: 350px;
    width: auto;
    h2 {
      line-height: 1.3;
    }
  }

  * {
    color: #333;
  }
}

/* PAYMENT ERROR PAGE */
.page-paymenterror div.paymentErrorMessage {
  margin: 0 10px;
}

.page-paymenterror p.paymenterrormessagetitle {
  font-size: 1.8em;
  font-weight: bold;
  margin: 0;
}

/* PAYPAL & PAYSON PAGES */
.page-paypalcancel div.paymentErrorMessage,
.page-paysoncancel div.paymentErrorMessage {
  margin: 0 10px;
}

/* ERROR PAGE */
.errorPage {
  margin: 0 10px;
}

/* Klarna monthly cost popup */
div.popup-info-box-link {
  display: inline;
  text-decoration: underline;
  cursor: pointer;
  padding-left: 4px;
  color: #aa3333;
}

div.popup-info-box-content {
  width: 620px;
  height: 405px;
  overflow: auto;
}

div.popup-info-box {
  background: url(/images/pop-up-bg.gif) no-repeat scroll 0 0 #FFFFFF;
  border: 2px solid #333333;
  display: none;
  height: 435px;
  margin: 0 0 0 264px;
  padding: 8px 0 0 6px;
  position: absolute;
  width: 620px;
  z-index: 999;
}

div.popup-info-box-close {
  text-decoration: underline;
  cursor: pointer;
  background: url(/images/fancybox/fancy_closebox.png) no-repeat;
  height: 30px;
  width: 30px;
  float: right;
}
