html.page-responsive-mobile-orderconfirmed,
html.page-responsive-orderconfirmed {

  #content-wrapper {
    max-width: 800px;
  }

  .order-details-confirmed-box {
    padding: 20px;
    background: #F6F6F6;
  }

  .order-details-confirmed-email-sent {
    margin-bottom: 15px;
    span {
      font-weight: bold;
    }
  }
  .order-details-confirmed-cart-summary {

    .order-details-confirmed-cart-summary-specification-row {
      border-color: #cccccc;
    }

    .article {
      .article-number {
        display: block;
        font-size: 12px;
        color: #666;
      }

      .iteminfo-comment span {
        margin: 0;
        cursor: default;
        font-size: $fc-cart-item-info-font-size;

        &:last-child {
          margin-left: 5px;
        }
      }

    }

    .qty {
      text-align: center;
    }

    .price {
      white-space: nowrap;
    }

    th.price {
      padding-right: 20px;
    }

    .sum {
      white-space: nowrap;
    }

    .label {
      display: none;
    }

    .order-details-confirmed-cart-summary-summary-row {

      td {
        padding-top: 10px;
      }

      td:first-child + td.text-align-right {
        text-align: center;
      }
    }

  }

  .order-details-confirmed-cart-summary-summary-row {
    font-weight: bold;
  }

  .order-details-confirmed-order-summary-row-order-total-sum {

    .row-right {
      font-weight: bold;
    }
  }

  div.customer-club-panel {
    padding: $js-page-padding-left;
    border: 1px solid $base;
    margin-bottom: $js-page-padding-left;

    @media #{$large-up} {
      div.form-row {
        float: left;
        width: 50%;

        &:first-child {
          padding-right: $js-page-padding-left / 2;
        }
      }

      a.customer-club-optin {
        margin-top: $js-page-padding-left / 2;
      }
    }
  }

  .order-details-confirmed-summary-wrapper {
    margin-bottom: 0px;
  }

  .order-details-confirmed-box {
    margin-bottom: 0px;
  }

  //
  //  Small only
  //
  @media #{$small-only} {

    .order-details-confirmed-box {
      background: none;
      border: none;
      padding: 10px 0;

      .order-details-order-number {
        float: left;
      }

      .order-details-order-date {
        float: right;
      }

      .order-details-confirmed-box-inner {
        clear: both;
        @include clearfix();
      }

      .order-details-confirmed-thank-you-customer-name {
        border: 1px solid #ccc;
        background: #f6f6f6;
        padding: 10px;
        margin: 20px 0;

        h1 {
          font-size: 20px;
          margin: 0 0 5px;

        }
        i {
          margin: 0;
          font-size: 40px;
        }
      }

      .order-details-confirmed-recipient-wrapper {
        margin-top: 20px;
      }
    }

    .order-details-confirmed-summary-wrapper {
      padding: 10px 0;
      border: 0;
    }

    .order-details-confirmed-cart-summary {

      tr, td {
        display: block;
        text-align: left;
        padding: 0;

        &.article {
          padding-bottom: 5px;
        }

      }

      .order-details-confirmed-cart-summary-header-row {
        display: none;
      }

      .order-details-confirmed-cart-summary-specification-row {
        @include clearfix();
        padding: 10px 0;
        border-color: #ccc;

        &:first-child {
          border-top: 1px solid #ccc;

        }
      }

      .label {
        display: inline;
        font-size: inherit;
      }

      .article {

        a {
          font-weight: bold;
          line-height: 1.3;
          display: block;
          padding-bottom: 2px;
        }
      }

      .qty {
        text-align: left;
        //float: left;
      }

      .price {
        float: left;
      }

      .sum {
        //clear: both;
        float: right;
        padding-left: 20px;
        font-weight: bold;
      }

      .order-details-confirmed-cart-summary-summary-row {

        padding-top: 0px;
        margin-bottom: 0;

        td {
          display: none;

          &.text-align-right {
            text-align: right !important;
            display: block;
            margin-bottom: 5px;
            padding-right: 11px;
            padding-bottom: 5px;
          }

          // ARTICLE SUM, PUT VISUALLY TOGETHER WITH SUMMARY
          &:last-child {
            padding: 10px 10px 5px;
            background: #f6f6f6;
            border: 1px solid #ccc;
            border-bottom: 0;
            margin: 0;

          }
        }
        span {
          display: inline-block;
          float: left;
          width: calc(100% - 114px);
        }

      }

    }

    .order-details-confirmed-order-summary {
      background: #f6f6f6;
      border: 1px solid #ccc;
      padding: 0 0px 5px;
      border-top: 0;
      margin-top: 0;

      > div {
        padding: 0 10px;

        &.order-details-confirmed-order-summary-row-order-total-sum {
          background-color: #e6e6e6;
          padding-top: 5px;
          padding-bottom: 5px;

          div, b {
            font-weight: bold;
          }
        }
      }

      .row-left {

        b {
          font-weight: normal;
        }
      }
    }

  }
}